
.items{
    display: grid;
    grid-gap: 1.5rem;
   grid-template-columns: 1fr ;   
}

.card-item>.img{
    width: 100%;
    height: 15rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    background: var(--bg-inside);

}

.card-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 0.7rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}

.card-item>.description{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-left: .7rem;
}

.card-item>.description>span:first-child{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
}


.card-item>.description>span:last-child{

            color: var(--text-light);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .items{
        grid-template-columns: 1fr 1fr  ;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px ) {
   
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px ) {
    .items{
        grid-template-columns: 1fr 1fr 1fr  ;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .items{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}



